.heading{
    /* color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-info{
    display: flex;
    justify-content: space-evenly;
}
